.job-section{
  padding: 20px;
  /* background-color: azure; */

}

.job-content{
   background: linear-gradient(108deg,#2a2e34 59.96%,#ff41c9 116.89%);
    inline-size: unset;
    margin-block-start: 20px;
    border-radius: 60px;
    max-inline-size: 1300px;
    margin: 0 auto
}
.pink {
  --highlight-primary: var(--color-pink-1);
  --highlight-light: var(--color-pink-2);
  --highlight-lightest: var(--color-pink-3);
  --highlight-shadow: var(--color-pink-shadow);
}

.cu_container{
  padding: unset;
}
.cu_container2{
  position: relative;
  z-index: 1;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.new{
  position: absolute;
    inset-inline-start: 71px;
    inset-block-start: -13px;
    padding: 2px 12px 4px;
    border-radius: 16px;
    background: #2b2f35;
}
.new span {
  display: block;
  inset-inline-start: 0;
    inset-block-start: 0;
    background: linear-gradient(90deg,#ff02f0,#ffc800);
    background-clip: text;
    color: transparent;
    font-weight: 400;
    font-style: normal;
    font-size: 14px;
    line-height: 12px;
    letter-spacing: 1px;
    text-align: center;
    text-transform: uppercase;
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    padding: 2px;
}

.job-content-left{
  inline-size: 50%;
    -webkit-margin-start: 0;
    margin-inline-start: 0;
    -webkit-margin-end: 0;
    margin-inline-end: 0;
    padding: 80px 10px 86px 77px;
    color: white;
}
.job-content-left img{
  block-size: auto;
  max-inline-size: 100%;

}
.subtitle{
  margin: auto;
    text-align: left;
    font-size: 2.25rem;
    letter-spacing: -.5px;
    line-height: 1.5;
    font-style: 800;
}
.detail{
  -webkit-margin-before: 15px;
    margin-block-start: 15px;
    -webkit-margin-after: 45px;
    margin-block-end: 45px;
    color: white;

    font-weight: 400;
    font-size: 0.875rem;
    line-height: 1.7857142857;
}

.btn{
  --color-icon: var(--color-grey-0);
  display: flex;
  grid-gap: 1rem;
  gap: 1rem;
  justify-content: center;
  align-items: center;
  inline-size: 100%;
  max-inline-size: 252px;
  block-size: 53px;
  padding: 0;
  border-radius: 9px;
  background: white;
  color: #2b2f35;
  box-shadow: 0 10px 25px rgba(14,11,29,.3);
  font-weight: 700;
  font-size: 14px;
  font-family: var(--font-default);
  line-height: 16px;
  text-align: center;
  text-decoration: none!important;
  transition: all 0.25s cubic-bezier(0.175,0.885,0.32,1.275);
}


.job-content-right{
  position: relative;
    align-self: center;
    inline-size: 50%;
    padding: 50px;
}
.photo-right{
    text-decoration: underline;
    text-underline-offset: 2px;
    text-decoration-thickness: 1px;
}
.photo-right picture img {
  border-radius: 9px;
  box-shadow: 0 4px 50px rgba(0,0,0,.3);
  max-inline-size: 100%;
}


/* Extra small devices (phones) 320 - 575 */
@media (max-width: 575.98px) {
  .cu_container{
    max-inline-size: 100%;
    border-radius: 19px;
    --spacing-block-container: 30px;
    --spacing-inline-container: 24px;
  }
  .cu_container2{
    padding: 35px 25px;
    flex-direction: column;
    align-items: flex-start;
    padding: 50px;
  }
  .subtitle{
    margin-block-start: 10px;
  }
  .btn{
    block-size: 45px;
    padding: 0 10px;
    font-size: 13px;
  }
  .job-content-left{
    inline-size: unset;
    max-inline-size: 600px;
    -webkit-margin-start: unset;
    margin-inline-start: unset;
    -webkit-margin-end: unset;
    margin-inline-end: unset;
    padding: 0;
 }
 .job-content-right{
  align-self: center;
  inline-size: unset;
  -webkit-margin-before: 40px;
  margin-block-start: 40px;
  padding: 0;
}
}

/* Small devices (tablets) 576-767 */
@media (min-width: 576px) and (max-width: 767.98px) {

}

/* Medium devices (laptops, tablets in landscape) 768-991 */
@media (min-width: 768px) and (max-width: 991.98px) {
 .job-content-left{
    inline-size: unset;
    max-inline-size: 600px;
    -webkit-margin-start: unset;
    margin-inline-start: unset;
    -webkit-margin-end: unset;
    margin-inline-end: unset;
    padding: 0;
 }
 .detail{
  -webkit-margin-before: 10px;
    margin-block-start: 10px;
    -webkit-margin-after: 25px;
    margin-block-end: 25px;

  } 
  .job-content-right{
    align-self: center;
    inline-size: unset;
    -webkit-margin-before: 40px;
    margin-block-start: 40px;
    padding: 0;
  }

}

/* Large devices (desktops, laptops) 992-1199 */
@media (min-width: 992px) and (max-width: 1199.98px) {

}
/* Extra large devices (large desktops, high-resolution displays) */
@media (min-width: 1200px) and (max-width: 1920px) {

}

/* Extra large devices (large desktops, high-resolution displays) */
@media (min-width: 1921px) {

}
