@import url("https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700");
@import url("https://fonts.googleapis.com/css?family=Roboto:400,300,500,700");
body {
	padding: 20px;
	font-family: "open sans";
	color: #555;
}

label {
	font-weight: 600;
}

table {
	margin-bottom:0 !important;
	
}
tbody > tr > td:first-child {
    width: 2%;
    white-space:nowrap
}

span .mdi:hover{
		cursor:pointer !important;
		color:#333;
	}
	
	


.tr-detail{
	display:none;
	
}
.tr-detail div{
    padding:50px
}

.tr-detail >td:not(:first-child){
    background:#eee;
    padding:5px 5px 5px 5px;
}
